//http://www.degraeve.com/color-palette/index.php?q=https://photos-6.dropbox.com/t/0/AADy3VRodemJbjm78Xr-y539FsZ7RzsP-vKyEnyqxR7Xbw/12/15721685/jpeg/1024x768/3/1390539600/0/2/DSC_0896.JPG/JhVB0FLQxlJBDcSF2RRF69flg5BizPOlF6stz7XRRt0,574A339A7947AA966AE6EDEFD7C275,694F21C3811ECBA14AE2F0F4FFDD45
@color_palette1:#554433;
@color_palette2:#997744;
@color_palette3:#aa9966;
@color_palette4:#eeeeee;
@color_palette5:#ddbb77;

a:active, a:link, a:visited
{
  color: @color_palette4;
  text-decoration: none;
}

.nav-bar
{
  background-color: @color_palette1;
  color: @color_palette4;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

  margin-left: auto ;
  margin-right: auto ;

  .page-title
  {
    position: absolute;
    display: inline-table;
    left: 15px;
    line-height: 15px;
  }

  ul
  {
    list-style-type: none; /*to remove bullets*/
    text-align: center;
    padding: 0px;
    zoom:1;
    border:1px solid red;
    overflow: hidden;
  }

  li
  {
    padding: 2px;
    width: 150px;
    display:inline-block;
  }


}
